body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.content {
    flex-grow: 1;
    padding: 8px;
    overflow-y: auto;
}

.bar {
    /* padding: 8px; */
    left: 0;
    right: 0;
    border-bottom: 1px solid lightgreen;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

#back-button {
    display: flex;
    flex-direction: row;
}

#top-text {
    padding: 8px;
}

.new-button {
    background-color: darkgreen;
    color: white;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 12px;
    bottom: 12px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 400;
    cursor: default;
    transition: 0.3s;
}

.new-button:hover, .new-button:focus {
    background-color: darkolivegreen;
    transition: 0.3s;
}

input[type=checkbox] {
    min-width: 26px;
    min-height: 36px;
}

.top-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.top-panel-sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 60%;
}

button {
    font-size: 1rem;
    padding: 4px 12px 4px 12px
}

input, select {
    font-size: 1rem;
}

textarea {
    min-height: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.modal {
    position: absolute;
    max-width: 40%;
    min-width: 300px;
    max-height: calc(100% - 40px);
    overflow-y: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #191919;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #444444;
    padding: 22px 12px 12px 12px;
    transition: 0.3s;
}

#modal-prompt {
    margin-bottom: 12px;
}

.modal-button-bar {
    text-align: right;
    margin-top: 22px;
}

.modal-field {
    margin-bottom: 12px;
}

.long-input {
    width: calc(100% - 12px);
}

.listview {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgreen;
    overflow: auto;
    position: fixed;
    top: 84px;
    bottom: 70px;
    left: 8px;
    right: 8px;
}

.listview-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    cursor: default;
}

.record-container {
    display: flex;
    flex-direction: row;
    margin: 4px 8px 4px 8px;
    background-color: #445544;
}

.record-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.record-cell {
    padding: 4px 8px 4px 8px;
}

.record-value-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    /* margin-left: auto; */
}

.table-header {
    font-weight: 800;
}

.table-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.table-cell {
    padding: 4px 8px 4px 8px;
}

.icon {
    width: 16px;
    height: 16px;
}

.image-container {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 200px;
}